@import 'normalize.css';

*,
*:after,
*:before {
  box-sizing: border-box;
}

html {
  color-scheme: light only;
}

body {
  display: grid;
  place-items: center;
  min-height: 100vh;
  font-family: 'SF Pro Text', 'SF Pro Icons', 'AOS Icons', 'Helvetica Neue',
    Helvetica, Arial, sans-serif, system-ui;
}

body::before {
  --size: 45px;
  --line: color-mix(in lch, canvasText, transparent 70%);
  content: '';
  height: 100vh;
  width: 100vw;
  position: fixed;
  background: linear-gradient(
        90deg,
        var(--line) 1px,
        transparent 1px var(--size)
      )
      50% 50% / var(--size) var(--size),
    linear-gradient(var(--line) 1px, transparent 1px var(--size)) 50% 50% / var(--size) var(--size);
  mask: linear-gradient(-20deg, transparent 50%, white);
  top: 0;
  transform-style: flat;
  pointer-events: none;
  z-index: -1;
}
:where(.x-link, .bear-link):is(:hover, :focus-visible) {
  opacity: 1;
}
:root {
  --info-size: 35vh;
}

body {
  display: grid;
  place-items: center;
  min-height: 100vh;
  font-family: ui-monospace, 'Cascadia Code', 'Source Code Pro', Menlo, Consolas,
    'DejaVu Sans Mono', monospace;
  overflow: auto;
}


.container {
    width: 100%;
    max-width: 1000px;
    border: 5px solid black;
    padding: 15px;
    background-color: white;
    border-radius: 15px;
    box-shadow: 0 4px 16px rgba(0, 0, 0, 0.1);
    transition: all 0.3s ease-in-out;
    height: auto;
    min-height: 100px;
}
.profile-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}


.profile-img {
    width: 180px;
    height: 180px;
    border-radius: 50%;
    object-fit: cover;
    border: 5px solid #060606;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
    margin-bottom: 20px;
}

h1 {
    font-size: 2.2em;
    color: #333;
    margin-bottom: 15px;
    font-weight: bolder;
    text-transform: capitalize;
}

.intro p {
    font-size: 1.1em;

    color: black;
    line-height: 1.8;
    margin-bottom: 25px;
    max-width: 80%;
    margin-left: auto;
    margin-right: auto;
}




@media (max-width: 768px) {
    .profile-img {
        width: 150px;
        height: 150px;
    }

    .intro p {
        font-size: 1em;
        max-width: 90%;
    }
}