@import 'normalize.css';

*,
*:after,
*:before {
  box-sizing: border-box;
}

html {
  color-scheme: light only;
}

body {
  display: grid;
  place-items: center;
  min-height: 100vh;
  font-family: 'SF Pro Text', 'SF Pro Icons', 'AOS Icons', 'Helvetica Neue',
    Helvetica, Arial, sans-serif, system-ui;
}

body::before {
  --size: 45px;
  --line: color-mix(in lch, canvasText, transparent 70%);
  content: '';
  height: 100vh;
  width: 100vw;
  position: fixed;
  background: linear-gradient(
        90deg,
        var(--line) 1px,
        transparent 1px var(--size)
      )
      50% 50% / var(--size) var(--size),
    linear-gradient(var(--line) 1px, transparent 1px var(--size)) 50% 50% / var(--size) var(--size);
  mask: linear-gradient(-20deg, transparent 50%, white);
  top: 0;
  transform-style: flat;
  pointer-events: none;
  z-index: -1;
}
:where(.x-link, .bear-link):is(:hover, :focus-visible) {
  opacity: 1;
}
:root {
  --info-size: 35vh;
}

body {
  display: grid;
  place-items: center;
  min-height: 100vh;
  font-family: ui-monospace, 'Cascadia Code', 'Source Code Pro', Menlo, Consolas,
    'DejaVu Sans Mono', monospace;
  overflow: auto;
}


@keyframes gradientBackground {
    0% {
        background-position: 0% 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0% 50%;
    }
}

.container-row {
    display: flex; 
    justify-content: space-between; 
    width: 100%; 
    max-width: 600px; 
    margin-bottom: 50px;
}

.container1, .container2, .container3 {
    border: 5px solid rgb(185, 177, 177); 
    padding: 20px;
    width: 200px;
    height: 200px;
    text-align: center;
    border-radius: 10px; 
    background-color: white; 
    transition: transform 0.3s ease, background-color 0.3s ease;
}

.container1:hover, .container2:hover, .container3:hover {
    transform: scale(1.1);
}

.container1:hover {
    background-color: #323132; 
}

.container2:hover {
    background-color: #323132; 
}

.container3:hover {
    background-color: #323132; 
}

.container1 i, .container2 i, .container3 i {
    font-size: 100px; 
    color: solid black; 
    transition: color 0.3s ease;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container1:hover i, .container2:hover i, .container3:hover i {
    color: rgb(244, 219, 219);
}
